ul.transition {
    display: flex;
    position: absolute;
    z-index: 102;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}

ul.transition li {
    list-style: none;
    transform: scaleY(0);
    background: rgb(255, 197, 7);
    width: 20%;
}