*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
  font-family: "Cairo";
}
:root {
  --h-color-100: #4063ff5f;
  --h-color-200: #4063ff8d;
  --h-color-300: #ffce0c;
  --h-color-400: #4063ffdd;
  --bg-color-100: #54e8ff;
  --bg-image-100: url("images/g-100.svg");
}

body{
  background-image: url("./images/background.svg");
  background-size: cover;
  shape-rendering: optimizeSpeed;
}
.important {
  width: 100%;
  height: (max-content + 2rem);
}
.main {
  background-image: url("images/bg-100.svg") !important;
  background-size: cover;
  background-repeat: no-repeat;
}
.subject {
  background-image: var(--bg-image-200);
  height: max-content;
}

@media (min-width: 667px) {
  html {
    font-size: 12px;
  }
}
